body {
	margin: 0px;
	padding: 0px;
	background-color: rgb(26, 26, 26);
	height: 600px;
}

form {
	height: 100%;
}

header {
	height: 70px;
	background-color: rgb(242, 242, 242);
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	letter-spacing: 1px;
}

.todo-container {
	height: 100%;
}

.to-do {
	height: 100%;
}

.checkbox {
	width:  100%;
	display: inline;
}

.list {
	width: 75%;
	height: 60%;
	color: white;
	font-size: 20px;
	overflow-y: scroll;
}

.borderforcontainer {
	border: 1px dotted white;
	border-radius: 5px;
}

.list input {
	margin-right: 5px;
	display: flex;
	height: 15px;
}

.list label {
	width: 100%;
	word-break: break-all;
	font-family: 'Anek Malayalam', sans-serif;
	font-weight: 200;
	margin-bottom: 25px;
	margin-top: -5px;
	line-height: 22px;
}

.list div {
	display: flex;
	flex-direction: row;
	width: 100%;
}

#delete-div {
	font-family: 'Nunito Sans', sans-serif;
	color: white;
	letter-spacing: 1px;
}

.todo-text {
	height: 20%;
}

.todo-buttons {
	height: 15%;
}
